.header {
    position: sticky;
    background-color: #fff;
    z-index: 10;
    top: 0;
    padding: 1rem 3.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .header__controls {
        display: flex;
        gap: 2.5rem;
    }

    .header__button {
        color: #fff;
        padding: 0.5rem 2.5rem;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 143%;
    }

    .button--transparent {
        color: #156963;
    }
}